= simple_form_for @post, html: { multipart: true} do |f|
  - if @post.errors.any? 
    #errors
      %h2
      = pluralize(@post.errors.count, "error")
      prevented this Post from saving
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg


  .form-group
   
    =f.input :image,  input_html: {class:"form-control"}
    =f.collection_radio_buttons :category_ids, Category.all, :id, :name do |cb|
      - cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text }

  = f.button :submit, value: "do my homework",  class:"btn btn-success"
