.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading

        %h1 Create post
      .panel-body
        %strong.center Current Image
        %br/
        = image_tag @post.image.url(:medium) 

        = render 'form' 



